/*
Sitio web de referencia:   https://www.cebra.com.ar/
Paleta:
Color1: #0074C1 ;
Color2: #00A8FB ;
Color3: #FCD85E ;
Color4: #39B54A ; 
*/
html {
    font-size: 16px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    align-items: center;
    background-color: #0074C1;
    display: flex;
    height: 5rem;
    margin: 0;
    justify-content: space-evenly;
}
main {
    background: url(../img/cebra.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    padding: 0 2.5rem;
    margin-top: 5rem;
}
h1 {
    background-color: #39B54A;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.125rem;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
h3 {
    margin: 2 rem;
    text-align: center;
}
a {
    background-color: #FCD85E;
    border-radius: 0.5rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem;
    text-decoration: none;
    text-align: center;
}
a:hover {
    background-color: #fde596;
    cursor: pointer;
}
select, button {
    width: 5rem;
    cursor: pointer;
    margin: 0 1rem;
}
.circulo {
    position: absolute;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 0;
}
#controlColores {
    display: flex;
    justify-content: center;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    display: inline-block;
    margin: 1.5rem 1rem;
}
.card-title {
    background-color: #00A8FB;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}
.card-title:hover {
    background-color: #39B54A;
    cursor: pointer;
}
img {
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width:100%;
}

