/* Ejercicio 2:
Sitio web de referencia:   https://www.cebra.com.ar/
Paleta:
Color1: #0074C1 ;
Color2: #00A8FB ;
Color3: #FCD85E ;
Color4: #39B54A ; */
html {
    font-size: 16px;

}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    align-items: center;
    background-color: #0074C1;
    display: flex;
    height: 6rem;
    margin: 0;
    justify-content: space-evenly;
}
main {
    background: url(../img/cebra.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    padding: 0 4.5rem;
}
h1 {
    background-color: #39B54A;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 0;
    padding: 0.25rem;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
a {
    background-color: #FCD85E;
    border-radius: 0.5rem;
    color: black;
    font-weight: bold;
    padding: 0.25rem;
    text-decoration: none;
    text-align: center;
}
a:hover {
    background-color: #fde596;
    cursor: pointer;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    display: inline-block;
    margin: 1.5rem 1rem;
}
.card-title {
    background-color: #00A8FB;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}
.card-title:hover {
    background-color: #39B54A;
    cursor: pointer;
}
img {
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width:100%;

}
select {
    width: 9.75rem;
    cursor: pointer;
}
.d-center {
    text-align: center;
}
.items {
    height: 20rem;
}
.c-container {
    position: relative;
    margin: 5rem;
}
#c1 {
    border: 1px solid black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1rem 0 0 -1rem;
}
#c2 {
    border: 1px solid black;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2rem 0 0 -2rem;
}
#c3 {
    border: 1px solid black;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3rem 0 0 -3rem;
}
#c4 {
    border: 1px solid black;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4rem 0 0 -4rem;
}

